<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>QQ</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <img style="text-align:center;"src="https://www.sbs.com.au/yourlanguage/sites/sbs.com.au.yourlanguage/files/styles/full/public/podcasts/site_197_Mandarin_552565.JPG?itok=w0yxQ3zc" alt="友誼的小船說翻就翻">
    <h1 style="text-align:center;">5秒後回到上一頁</h1>
    <script>
        window.setTimeout(function () {
            // Move to a new location or you can do something else
            window.location.href = "https://flask-practice-crawler.herokuapp.com/153";
        }, 5000);
    </script>
</body>

</html>